<form class="form" action="/sign_up" method="post">
  <br> <br>
  <label for="username"> User Name </label>
  <input type="text" name="username" id="username">

  <label for="password"> Password </label>
  <input type="password" name="password" id="password">

  <label for="confirmation"> Confirm Password </label>
  <input type="password" name="confirmation" id="confirmation">

  <input type="submit" value="Sign Up">
</form>
<p> <%= @error_message %> </p>