<div class="content">
  <form action="/submit" method="post">
    <label for="title"> Title </label>
    <input type="text" name="title" id="title" value="<%= params["title"] %>">

    <label for="url"> URL </label>
    <input type="text" name="url" id="url" value="<%= params["url"] %>">

    <label for="desc"> Description </label>
    <input type="text" name="desc" id="desc" value="<%= params["desc"] %>">

    <input type="submit" value="Submit Article">

  </form>
  <p id="error"> <%= @error_message %> </p>
</div>

      
